<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gorbin.asne.vkontakte"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk tools:node="replace" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true">
        <activity
            android:name="com.vk.sdk.VKOpenAuthActivity"
            />
    </application>

</manifest>
